{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock title %}
{% block main-content %}
<div class="container mt-3">
    <br>
    <h2>About Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text center">Book 4 You is an Indian book store chain and a publisher of books.It is one of the biggest book shops in India.
            The Limca Book of Records recognised B4U as the largest book shop in India, for seven years in a row.The Government of Karnataka presented
            the Karnataka Rajyostava Award to B4U, describing it as the largest book publisher, in 2008.As of May 2016, B4U has published more than 5000
            books by 500 writers, including Jnanpith and Central Sahitya Academy awardees.Around sixty percent of the store includes books and the rest of
            stationery, multimedia products, and sports items etc are to added shortly.
        </p>
    </div>
</div>
{% endblock main-content %}