{% extends "base.html" %}
{% load static %}
{% block title %}Contact US{% endblock title %}
{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">Contact US</h2>
    <br>
    <div class="row-container">
        <p class="fs-4 text-center">Address : #20,21,Maheshwari nagar 4th cross,
                                                Mahadevapura,
                                                Bangalore-560048</p>
        <p class="fs-4 text-center">Contact : +91 9847569889</p>
        <p class="fs-4 text-center">Email   :  Books4You@gmail.com  </p>

    </div>

</div>
{% endblock main-content %}